body {
font-family: tahoma;
width:220px;
}

#div0{width:216px;}
#div1{float:top;width:215px; height:auto;}
#div2{float:bottom;width:215px;height:auto;}
#heading{
	width:99%;height:auto;
	background-color:#e5eecc;
	font-weight:bold;
	-moz-border-radius: 3px;
   	-webkit-border-radius: 3px;
   	border-radius: 3px;
	
}



input{
	
	border: 1px solid #adadad;
	height:20px;
	width:150px;
	padding: 1px;
	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
  	 border-radius: 4px;
	
}


.divv {
	width:50%;
	height:50%;
	background-color:#fff;
	border: 1px solid #6b90e0;
	padding: 1px;
}
.menu{
	
	height:auto;
	background-color:#ccc;
	border: 1px solid #6b90e0;
	padding: 1px;
}
.btn {
	
	background: url() repeat-x 0px 0px;
	padding:4px 10px 5px 11px;
	font-weight:normal;
	font-size:11px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	border:1px solid rgba(0,0,0,0.5);
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.btn:hover {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	cursor:pointer;
}



/* COLOR VARIATIONS */

.blue		{background-color: #e4f1fb; color: #830E0E;}
.blue:hover	{background-color: #00c0ff; color: #ffffff;}


.green		{background-color: #CCCCCC; color: #141414;}
.green:hover	{background-color: #8aff00; color: #ffffff;}

.red		{background-color: #FBEDED; color: #141414;}
.red:hover	{background-color: #ef7575; color: #ffffff;}
#full {
	min-height:100%;
   	position:relative;
	width:100%;
	border: 1px solid #6b90e0;
	padding: 1px;
    	-moz-border-radius: 3px;
    	-webkit-border-radius: 3px;
    	border-radius: 3px;
}


#div0 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#div1 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#div2 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

