	.table1 {
	    color: black;
	    background: #fff;
	    border: 1px solid #b4b4b4;
	    font: 17px helvetica;
	    padding: 0;
	    margin-top:10px;
	    width: 100%;
	    -webkit-border-radius: 8px;
	}

	.table1 tr td {
	    color: #666;
	    border-bottom: 1px solid #b4b4b4;
	    border-right: 1px solid #b4b4b4;
	    padding: 0px;
	    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
	}
	  
	.table1 tr td:last-child {
	    border-right: none;
	}
	
	.table1 tr:last-child td {
	    border-bottom: none;
	}
.table1 th {
	    color: #fff;
	    font-weight:bold;
	    border-bottom: 1px solid #b4b4b4;
	    border-right: 1px solid #b4b4b4;
	    padding: 10px 10px 10px 10px;
	    background-image: -webkit-linear-gradient(top, #5797C7, #a6dafc);
	} 
